@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 5px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}
.row{
  margin:8px 0;
}
.row input{
  width: 301px;
  font-size: 20px;
  margin: 0;
  padding: 17px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
