.text-center{
  text-align: center
}
.bg-grey{
  background-color: #666060
}
.mx-auto{
  margin: auto;
} 
 .flex{
   display:flex;
 }
.flex-col{
  flex-direction: column;
}
.items-center{
  align-items: center;
}
